<nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <a class="navbar-brand" id='brand' href="/">DDD</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto fill ">
                    <li class="nav-item" >
                        <a class="nav-link" id="link" href="/about">About<span class="sr-only" >(current)</span></a>
                    </li>

                       <li class="nav-item">
                        <a class="nav-link" id="link" href="/userprofile">Profile<span class="sr-only">(current)</span></a>
                    </li>
                    

                    <li class="nav-item">
                        <a class="nav-link" id="link" href="/contact">Support<span class="sr-only">(current)</span></a>
                    </li>


                      <li class="nav-item">
                        <a class="nav-link" id="log-out" href="/logout">Logout<span class="sr-only">(current)</span></a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link fas fa-shopping-cart" id="link" href="/cart"><span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>