<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
</head>

<body>

    <h1>HOME</h1>

    <form class="form-inline my-2 my-lg-0" id="search-cuisine">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <h1 class="black-h1">Category</h1>
    <div id="cuisine-list">
        <ul>
            <li> <a href="/italian">
                    <h2>Italian</h2>
                </a></li>

            <li> <a href="/japanese">
                    <h2>Japanese</h2>
                </a></li>
            <li> <a href="/Chinese">
                    <h2>Chinese</h2>
                </a> </li>
        </ul>
    </div>

    <div class="cuisineContainer">
        <div class='cuisineType'>
            {{#each cuisineData}}
            <a href="/{{cuisine_name}}">
                <h2 class='cuisineName'>{{cuisine_name}}</h2>
                <img class='cuisine' src="{{image_url}}" alt="">
            </a>
            {{/each}}

        </div>
    </div>

<a href='/secret'>Press me?</a>
</body>

</html>