<section class="notebook-hero">
    <a data-scroll href="#bazinga">
        <h1 id="pizza-text" >
        <span data-text="P">P</span>
        <span data-text="I">A</span>
        <span data-text="Z">S</span>
        <span data-text="Z">T</span>
        <span data-text="A">A</span>
    </h1>
    </a>
</section>
{{!-- <a href="/italian/italianMenu"></a> --}}

    <div id="bazinga" class="container-fluid">
     <h1>asdasdasdadasd</h1>
        {{#each restaurants}}
        <div class="row row-rest">

            <a href="/italianmenu">
            <div class="box-part text-center col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <img class="theme-rest-pic" src="" alt="">
                <div class="title">
                    <h4>{{restaurants_name}}</h4>
                </div>
                <div class="text">
                    <span>lorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsumorem ipsum</span>
                </div>
            </div>
            <a/>
        </div>
        {{/each}}
    </div>






{{!-- <a href="/italian/italianMenu"> <h1 class="black-h1">restaurants 1</h1></a>
<a href="/italian/italianMenu"> <h1 class="black-h1">restaurants 2</h1></a>
<a href="/italian/italianMenu"> <h1 class="black-h1">restaurants 3</h1></a> --}}