<section class="notebook-hero">
    <h1 id="pizza-text" href="#">
        <span data-text="P">P</span>
        <span data-text="I">A</span>
        <span data-text="Z">S</span>
        <span data-text="Z">T</span>
        <span data-text="A">A</span>
    </h1>
</section>

 
 <div class="rest-box">
     <div class="container">
         <div class="row">
             <a href="/italian/italianMenu">
             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">    
					<div class="box-part text-center">    
                        <img class="theme-rest-pic" src="/img/cartPizza1.jpg" alt="">

						<div class="title">
							<h4>Pizzahut</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
                        
					
                        
					 </div>
				</div>	
                </a>
                

                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="box-part text-center">
                        
                        <img class="theme-rest-pic" src="/img/cartPizza1.jpg" alt="">
                        
						<div class="title">
							<h4>Pizzahut</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>              
					 </div>
				</div>	
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="box-part text-center">
                        
                        <img class="theme-rest-pic" src="/img/cartPizza1.jpg" alt="">
                        
						<div class="title">
							<h4>Pizzahut</h4>
						</div>
                        
						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>              
					 </div>
				</div>	
         </div>
     </div>
 </div> 
		


{{!-- <a href="/italian/italianMenu"> <h1 class="black-h1">restaurants 1</h1></a>
<a href="/italian/italianMenu"> <h1 class="black-h1">restaurants 2</h1></a>
<a href="/italian/italianMenu"> <h1 class="black-h1">restaurants 3</h1></a> --}}
