    {{#each japaneseMenuData}}
    <div class='jpFood'>
        <div class=''> 
            <img class='jpFoodImg' src="{{food_image}}">
            <p>{{food_name}}</p>
            <p>${{food_price}}</p>
        </div>
    </div>
    {{/each}}
