<div class='jpMenuPage'>

    <div id='jpMenuIntro'>
        <div id='jpMenuText'>
        <h2>Love Cafe (Causeway Bay)</h2>
        <p>$. Japanese- Cosy, Casual</p>
        <p>0.1 &#9829 (99) We are that good</p>
        <p>Yiu Wa St, No.3, Bartlock Centre, 1203</p>
        </div>
    </div>

<div class='jpMenuContainer'>

    <div class='jpFood'>
        {{#each japaneseMenuData}}
        <div id='jpFoodItem'>
            <img class='jpFoodImg' src="{{food_image}}">
            <p>{{food_name}}</p>
            <p>${{food_price}}</p>
        </div>
        {{/each}}
    </div>

    <div class='jpRestRight'>
        <img class='jpRestPhoto'></div>

</div>

</div>