
    {{#each japaneseData}}
    <div class='jpRender'>
        <div class='jpRest'> 
        <a href="/japanese/{{id}}">
            <img class='jpRestImage' src="{{path_to_img}}">
            <h4>{{restaurants_name}}</h4>
            <p>{{opening_hours}}</p>
        </a>
        </div>
    </div>
    {{/each}}
