

<form action="/signedin" method="post">
  <div>
    <label>Email:</label>
    <input type="text" name="username" />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" />
  </div>
  <div>
    <input type="submit" value="Log In" />
  </div>
</form>
<<<<<<< HEAD
=======

<a href="/signup">Sign UP</a><br>
>>>>>>> 250f0c6d2daab82daeda46fd0b4766cf0867dd9e


<a href="/auth/facebook">Login with Facebook</a>

<a href="/signup"><button>signup</button></a>
