{{!-- <div class='signUpPage'>
<form action="/signup" method="post">
      <div>
        <label>Email:</label>
        <input type="text" name="username" />
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" />
      </div>

       <div>
        <label for="name" >Name:</label>
        <input type="text" id="fullName" name="name"/>
      </div>
      {{!-- <div>
        <label>Address:</label>
        <input type="password" name="password" />
      </div>
      --}}
    
        <input type="submit" value="Sign up"/>
</form>

</div> --}}

{{!-- NOT NEEDED ANYMORE --}}