/*===============NAVBAR=================*/
/*===============ICON=================*/
.fas{cursor: pointer;}
/*===============INDEX BEGINS=================*/
.black-h1{
  color: #000000;
}

.cuisineContainer {
  width: 100%; 
}

.cuisineType {
  display: flex; 
  flex-wrap: wrap;  
}

/* .cuisineName:hover {
  text-decoration: none; 
} */

h2 {
  text-decoration: none;
}

.cuisine{
  width: 300px; 
  height: 200px; 
  margin: 50px; 
  background-position: center; 
  background-size: cover; 
}
/*===============INDEX ENDS=================*/
/*===============italian theme BEGINS=================*/
.theme-rest-pic{
  width: 100px !important;
  height: 100px !important;
}
.box-part{
  cursor: pointer;
  /* margin: 30px 30px; */
}
.row-rest{
  margin-top: 20px;
  margin-bottom: 20px;
}
.rest-box{cursor: pointer;}
.box-part img{
  margin-top: 15px;
}

.box-part:hover{
 
  box-shadow: 0 0 6px #4183D7;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
/* Menu Page */
.box1 img{
  height: 235px;
  width: 235px;
}

.box-black .card{
  height: 235px;
  width: 235px;
  border-radius: 0px !important;
}

.qty-plus{
  background: #70975B;
  border-radius: 50%;
  cursor: pointer;
}

.fa-minus,
.qty-plus {
  color: #ffffff !important;
}

.qty-minus{
  background:#CC2A41;
  border-radius: 50%;
  cursor: pointer;
}

.add-to-cart-btn{
  border-radius: 35px !important;
  font-size: 90% !important;
  margin-bottom: 5px !important;
}




/*===============Japanese theme BEGINS=================*/

.jpRender {
  display: flex; 
  flex-direction: row; 
}

.jpRestImage {
  width: 300px; 
}
/* Menu Page */
.jpFoodImg {
  width: 200px; 
}

/*===============CART BEGINS=================*/
#cart-img{
  width: 100px;
  height: 100px;
}

.checkout-btn 
{
  color: #fff;

  background: rgba(3, 3, 3, 0.6);
  animation: shadow-pulse 1s 3;
  padding:5px;
  border-radius: 18px;
}
@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

 
/*===============CART ENDS=================*/
/*===============ABOUT BEGIN=================*/
#aboutPage{
  color: #000 !important;
  text-align: center;
  margin-top: 30px;
}

#about-1{
  height: 500px;
}

/*======slider===*/







/*===============ABOUT END=================*/


/*===============HEADER-START  STATNUM=================*/
/* #afterLogin {
  display: none; 
} */

.notebook-hero {
    background: url(/img/header2.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    padding: 30vh 15% 0;
}

.milestone-counter{
  margin-left: 85px !important;
}

.milestone-counter {
    float: left;
    margin: 25px;
    text-align: center;
}
.stat {
   margin:10px auto;
}
.highlight {
   color:#111;
   padding:20px 0;
   font-weight:bold;
   display:block;
   overflow:hidden;
   margin-bottom:0;
   font-size:48px;
}
.stat i {
	color: #e42020;
}
.milestone-details {
   font-weight:bold;
   font-size:18px;
   color:#999;
}

/*===========HEADER-END=====================*/

h2{
   
    color: brown !important;

}

h1{
    color: white;
    font-weight: 900;
    font-size: 290%;
}

P{
    color: rgb(88, 83, 11);
    font-size: 100%;
}

h5{
    color: tomato;
}



/* .notebook-hero {
    background: url('../img/header2.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    padding: 30vh 15% 0;
} */


.qty-plus, .qty-minus{
    cursor: pointer;
}

/*========================model=================*/
.col-lg-2 {
  margin-bottom: 0px !important;
}
.modal-confirm {		
    color: #636363;
    width: 325px;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    border-bottom: none;   
    position: relative;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}	
.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}	
.modal-confirm .icon-box {
    color: #fff;		
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn-confirmation {
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
}
.trigger-btn {
    display: inline-block;
    
}
/*===============SIGNIN/ SIGNUP BEGINS=================*/

/* sign in FORM */
.social-btn:hover{
  background-color: #6fb32b;
  color: #007b5e;
}


.signH1{
  color: #000 !important;
}
#logreg-forms{
  width:412px;
  margin:10vh auto;
  background-color:#f3f3f3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
}
#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#logreg-forms .social-login{
  width:390px;
  margin:0 auto;
  margin-bottom: 14px;
}
#logreg-forms .social-btn{
  font-weight: 100;
  color:white;
  width:190px;
  font-size: 0.9rem;
}

#logreg-forms a{
  display: block;
  padding-top:10px;
  color:lightseagreen;
}

#logreg-form .lines{
  width:200px;
  border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
  width:210px !important;
  margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
  #logreg-forms{
      width:300px;
  }
  
  #logreg-forms  .social-login{
      width:200px;
      margin:0 auto;
      margin-bottom: 10px;
  }
  #logreg-forms  .social-btn{
      font-size: 1.3rem;
      font-weight: 100;
      color:white;
      width:200px;
      height: 56px;
      
  }
  #logreg-forms .social-btn:nth-child(1){
      margin-bottom: 5px;
  }
  #logreg-forms .social-btn span{
      display: none;
  }
  #logreg-forms  .facebook-btn:after{
      content:'Facebook';
  }

  #logreg-forms  .google-btn:after{
      content:'Google+';
  }
  
}
/*===============SIGNIN/ SIGNUP END=================*/

/*********************** Demo - 1 *******************/









/*=================SLIDER=================*/




/*========contact Page begins==========*/
#contatti{
  background-image: radial-gradient(rgb(0, 0, 0), rgb(0, 0, 0));

  letter-spacing: 2px;
  }
#contatti a{
  color: #fff;
  text-decoration: none;
}


@media (max-width: 575.98px) {

  #contatti{padding-bottom: 800px;}
  #contatti .maps iframe{
    width: 100%;
    height: 450px;
  }
 }


@media (min-width: 576px) {

   #contatti{padding-bottom: 800px;}

   #contatti .maps iframe{
     width: 100%;
     height: 450px;
   }
 }

@media (min-width: 768px) {

  #contatti{padding-bottom: 350px;}

  #contatti .maps iframe{
    width: 100%;
    height: 850px;
  }
}

@media (min-width: 992px) {
  #contatti{padding-bottom: 200px;}

   #contatti .maps iframe{
     width: 100%;
     height: 700px;
   }
}


#author a{
  color: #fff;
  text-decoration: none;
    
}
/*========contact Page ENDS==========*/


/*=====================test area=====================*/
.fa-plus{

  transition: transform 1s;
  
}
.fa-plus:hover{
  color: #2b6fce;
  /* Rotate*/

  
}
/*=====================test area2 PIZZA TEXT =====================*/

#pizza-text {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:250px;
  height:60px;
  padding:0 1rem;
  line-height:60px;
  text-align:center;
  border:2px solid #fff;
  font-size:30px;
  text-decoration:none;
  text-transform:uppercase;
  font-family:sans-serif;
  color:#fff;
  overflow:hidden;
  cursor: pointer;
}


#pizza-text span  {
  display:inline-block;
  transition:0.5s;
  
}
#pizza-text span:nth-child(odd):before {
  content:attr(data-text);
  position:absolute;
  transform:translateY(100%);
  
}
#pizza-text span:nth-child(odd){
  transform:translateY(-100%);
}
#pizza-text:hover span:nth-child(odd){
  transform:translateY(0);
  color:#ff0;
  
}
#pizza-text span:nth-child(even):before {
  content:attr(data-text);
  position:absolute;
  transform:translateY(-100%);
}

#pizza-text span:nth-child(even){
  transform:translateY(100%);
  
}
#pizza-text:hover span:nth-child(even){
  transform:translateY(0);
  color:#ff0;
}

/*=====================BLACK CARD =============z========*/
/* [class*=col-] {
  padding-right: 0;
  padding-left: 0;
  max-height: 240px;
}
.container-fluid{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.card {
  background-color: black !important;
  color: rgb(0, 0, 0);
  height: 240px;
  width: auto;
  border-radius: 0% !important;
 
 
}
.card h5 {
  color: white;
  font-weight: 900;
  font-size: 120%;
  
}
.card p {
  color: rgb(180, 180, 180);
}
.btn-container {
  display: inline-block;
  padding: 5px 0px;
  margin: 0px 16px;
  overflow: hidden;
}
*, *:before, *:after {
  padding: 0px;
  margin: 0px;
  transition: 0.3s;
}
.standard-btn {
   color: #ffffff !important;
  border: solid 1px #ff7b00 !important;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: transparent;
}
.standard-btn:before {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  z-index: -1;
  content: "";
  background: #ff7300;
}

.standard-btn:hover {
    color: #fff;
    border: solid 1px #ffbb00;
    
}
.standard-btn:hover:before {
    width: 100%;
   
} */

/*========FOOTERBOTTOM BEGIN  ==========*/
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: #000000 !important;
}
#footer h5{
padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
font-size:25px;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.social li:hover a i {
font-size:30px;
margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
color:#ffffff;
}
#footer ul.social li a:hover{
color:#eeeeee;
}
#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.quick-links li:hover{
padding: 3px 0;
margin-left:5px;
font-weight:700;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width:767px){
#footer h5 {
  padding-left: 0;
  border-left: transparent;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
}
/*========FOOTERBOTTOM ENDS ==========*/


/*========controllable image transition BEGIN  ==========*/
#three-container{
  margin-right: 100px !important;
  
}

canvas {
	background-image: radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  width: 800px !important;
  height: 400px !important;
 
}
/*========controllable image transition ENDS  ==========*/

/*========checkout page BEGIN  ==========*/




/*========checkout page ENDS ==========*/


/*========preloader begins ==========*/
.clock{
	border-radius: 60px;
	border: 3px solid rgb(0, 0, 0);
	height: 80px;
	width: 80px;
	position: relative;

	top: 28%;
	top: -webkit-calc(50% - 43px);
	top: calc(50% - 43px);
	left: 35%;
	left: -webkit-calc(50% - 43px);
	left: calc(50% - 43px);
}
.clock:after{
	content: "";
	position: absolute;
	background-color: rgb(0, 0, 0);
	top:2px;
	left: 48%;
	height: 38px;
	width: 4px;
	border-radius: 5px;
	-webkit-transform-origin: 50% 97%;
			transform-origin: 50% 97%;
	-webkit-animation: grdAiguille 2s linear infinite;
			animation: grdAiguille 2s linear infinite;
}

@-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.clock:before{
	content: "";
	position: absolute;
	background-color: rgb(0, 0, 0);
	top:6px;
	left: 48%;
	height: 35px;
	width: 4px;
	border-radius: 5px;
	-webkit-transform-origin: 50% 94%;
			transform-origin: 50% 94%;
	-webkit-animation: ptAiguille 12s linear infinite;
			animation: ptAiguille 12s linear infinite;
}

@-webkit-keyframes ptAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes ptAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}



/*========preloader ends ==========*/


/*========user profile begins ==========*/
.user-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 230px;
  height: 161px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 233px;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #41534cb8;
}

.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  
}
.profile-head h5{
  color: #333;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
 
}

.profile-head .nav-tabs{
  margin-top: 17%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}


.profile-settings{
  padding: 18%;
  margin-top: -15%;
}
.profile-settings p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-settings a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-settings ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

.alert-danger{
  padding: 4px !important;
  border-radius: 6px !important;
}


/*=progressWheel begins=*/


/*=progressWheel ends =*/
/*========user profile ends ==========*/